@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 20px;
}

.description {
    width: 592px;
    height: 51px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 14px;
    line-height: 17px;
    color: #4f4f4f;
    margin-bottom: 40px;
}

.image {
    display: flex;
    justify-content: center;
}

img {
    width: 969px;
    height: 470px;
    border-radius: 12px;
    margin-bottom: 40px;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    float: right;
    width: 216px;
    height: 367px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.servings {
    display: flex;
    flex-direction: column;
}

.servings, .timing {
    width: 122px;
    margin-left: 50px;
}


[class^="material"] {
    position: relative;
    right: 35px;
    top: 30px;
}

.servings > .material-symbols-outlined {
    color: #f2994a;
}

.servings > p {
    color: #f2994a;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.servings > .title {
    font-family: 'Montserrat', sans-serif;
    color: #bdbdbd;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
}

.title {
    font-family: 'Montserrat', sans-serif;
    color: #bdbdbd;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
}

.timing > .minutes {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

.ingredients > h2 {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.ingredients > h3 {
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

.ingredients > ul {
    list-style: none;
    margin-left: 32px;
}

.ingredients > ul > li {
    position: relative;
    margin-bottom: 10px;
    width: 554px;
    text-indent: -32px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #333333;
}

input.checkbox {
    width: 21px;
    height: 21px;
    margin-right: 13px;
    vertical-align: middle;
}

.instructions > ol {
    list-style: none;
    counter-reset: item;
}

.instructions > ol > li {
    counter-increment: item;
    margin-bottom: 40px;
    left: 50px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    width: 555px;
}

.instructions > ol > li:before {
    position: absolute;
    left: -50px;
    margin-right: 15px;
    width: 36px;
    height: 36px;
    content: counter(item);
    background-color: #f2994a;
    border-radius: 6px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.kudos {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: #bdbdbd;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin-bottom: 20px;
}

@media screen and (max-width: 1020px) {

    .container {
        align-items: center;
    }

    .time {
        float: none;
        flex-direction: row;
        width: 600px;
        box-shadow: none;
        height: 60px;
        margin-bottom: 10px;
    }

    img {
        margin-bottom: 0px;
        width: 730px;
        height: 370px;
    }
}

@media screen and (max-width: 820px) {

    h1 {
        font-size: 36px;
        margin-top: 10px;
    }

    .description {
        height: 70px;
        margin-bottom: 30px;
        word-wrap: break-word;
    }

    img {
        width: 550px;
        height: 300px;
    }

}



@media screen and (max-width: 630px) {

    .container {
        width: fit-content;
    }

    .description {
        width: 90vw;
    }

    img {
        width: 400px;
        height: 215px;
    }

    .recipe {
        margin-left: 20px;
    }

    .time {
        display: grid;
        height: 120px;
        width: 380px;
        margin-bottom: 20px;
    }

    .servings {
        grid-column: 1 / span 3;
        grid-row: 1;
        text-align: start;
        margin-left: 50px;
    }

    .servings, .timing {
        width: 80px;
    }

    .ingredients {
        width: 80vw;
    }
    
    .ingredients > ul > li {
        width: 80vw;
        word-wrap: break-word;
    }

    .instructions {
        width: 80vw;
    }

    .instructions > ol > li {
        width: 80vw;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 465px) {

    h1 {
        font-size: 28px;
    }

    .description {
        font-size: 12px;
    }
    img {
        width: 352px;
        height: 214px;
    }

    .recipe {
        margin-left: 0px;
    }

    .servings > p {
        font-size: 10px;
    }

    .servings > .title {
        font-size: 8px;
    }

    .title {
        font-size: 8px;
    }

    .timing > .minutes {
        font-size: 10px;
    }

    .ingredients > h2 {
        font-size: 18px;
    }

    .ingredients > h3 {
        font-size: 16px;
    }

    .ingredients > ul > li {
        font-size: 14px;
    }
    
    .kudos {
        text-align: center;
        font-size: 12px;
    }
}

@media screen and (max-width: 425px) {
    .recipe {
        margin-left: 10px;
    }
}